.flex-row{
  display: flex;
  align-items: center;
  align-content: space-around;
}
.flex-start{
  display: flex;
  align-items: center;
}
.flex-col{
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}
.flex-size{
  flex: 1;
}
.flex-size2{
  flex: 2;
}
.flex-size3{
  flex: 3;
}
//重置外边距
.mar-defu{
  margin: 0;
}
//重置内边距
.pag-defu{
  padding: 0;
}
//top外边距
.mar-top5{
  margin-top: 5px;
}
.mar-top10{
  margin-top: 10px;
}
.mar-top15{
  margin-top: 15px;
}
.mar-top30{
  margin-top: 30px;
}
//bottom外边距
.mar-bom5{
  margin-bottom: 5px;
}
.mar-bom10{
  margin-bottom: 10px;
}
.mar-bom15{
  margin-bottom: 15px;
}
.mar-bom30{
  margin-bottom: 30px;
}
//left外边距
.mar-lt5{
  margin-left: 5px;
}
.mar-lt10{
  margin-left: 10px;
}
.mar-lt15{
  margin-left: 15px;
}
.mar-lt30{
  margin-left: 30px;
}
//right外边距
.mar-rt5{
  margin-right: 5px;
}
.mar-rt10{
  margin-right: 10px;
}
.mar-rt15{
  margin-right: 15px;
}
.mar-rt30{
  margin-right: 30px;
}
//top内边距
.pag-top5{
  padding-top: 5px;
}
.pag-top10{
  padding-top: 10px;
}
.pag-top15{
  padding-top: 15px;
}
.pag-top30{
  padding-top: 30px;
}
//bottom内边距
.pag-bom5{
  padding-bottom: 5px;
}
.pag-bom10{
  padding-bottom: 10px;
}
.pag-bom15{
  padding-bottom: 15px;
}
.pag-bom30{
  padding-bottom: 30px;
}
//left内边距
.pag-lt5{
  padding-left: 5px;
}
.pag-lt10{
  padding-left: 10px;
}
.pag-lt15{
  padding-left: 15px;
}
.pag-lt30{
  padding-left: 30px;
}
//right内边距
.pag-rt5{
  padding-right: 5px;
}
.pag-rt10{
  padding-right: 10px;
}
.pag-rt15{
  padding-right: 15px;
}
.pag-rt30{
  padding-right: 30px;
}
