.row_lr{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.row_lr_auto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.row_mod{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
}
.row_cen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.row_cen_auto{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_1{
  flex: 1;
}
.flex_1_cen{
  flex: 1;
  text-align: center;
}
.padd_lr30{
  padding: 0 30px;
}
.padd_lr{
  padding-left: 15px;
  padding-right: 15px;
}
.padd_lr10{
  padding-left: 10px;
  padding-right: 10px;
}
.padd_lr5{
  padding-left: 5px;
  padding-right: 5px;
}
.padd_td30{
  padding-top: 30px;
  padding-bottom: 60px;
}
.padd_td{
  padding-top: 15px;
  padding-bottom: 15px;
}
.padd_td10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padd_td5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.mar_td30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.mar_td{
  margin-top: 15px;
  margin-bottom: 15px;
}
.mar_td10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mar_td5{
  margin-top: 5px;
  margin-bottom: 5px;
}
/*规范*/
.font_bold{
  font-weight: bold;
}
.font_size25{
  font-size: 25px;
}
.font_size20{
  font-size: 20px;
}
.font_size15{
  font-size: 15px;
}
.font_size12{
  font-size: 12px;
}
.font_white{
  color: #fff;
}
.font_active{
  color: #FF87A2;
}
.black_33{
  color: #333333;
}
.black_66{
  color: #666666;
}
.black_99{
  color: #999999;
}
.black_b2{
  color: #b2b2b2;
}
.black_c{
  color: #cccccc;
}
.black_f3{
  color: #f3f3f3;
}
.mar_top30{
  margin-top: 30px;
}
.mar_top20{
  margin-top: 20px;
}
.mar_top{
  margin-top: 15px;
}
.mar_top10{
  margin-top: 10px;
}
.mar_top5{
  margin-top: 5px;
}
.mar_top3{
  margin-top: 3px;
}
.mar_left30{
  margin-left: 30px;
}
.mar_left20{
  margin-left: 20px;
}
.mar_left{
  margin-left: 15px;
}
.mar_left10{
  margin-left: 10px;
}
.mar_left5{
  margin-left: 5px;
}
.mar_left3{
  margin-left: 3px;
}
.pad_top30{
  padding-top: 30px;
}
.pad_top20{
  padding-top: 20px;
}
.pad_top{
  padding-top: 15px;
}
.pad_top10{
  padding-top: 10px;
}
.pad_top5{
  padding-top: 5px;
}
.pad_top3{
  padding-top: 3px;
}
.pad_left30{
  padding-left: 30px;
}
.pad_left20{
  padding-left: 20px;
}
.pad_left{
  padding-left: 15px;
}
.pad_left10{
  padding-left: 10px;
}
.pad_left5{
  padding-left: 5px;
}
.pad_left3{
  padding-left: 3px;
}
